<%# This page is where we can start bringing in the necessary data for the final view. %>
<div class="container">

  <div class="column column-right">
    <div class="card card-news">
      <h3>News Feed</h3>
    </div>
    <div class="card card-tasks">
      <h3>Task Progress</h3>
      <div class="tasks-container">
        <div class="tasks-column">
          <h4>Next</h4>
          <% @tasks_planned.each do |task| %>
            <%= render "components/task", task: task %>
          <% end %>
        </div>
        <div class="tasks-column">
          <h4>In Progress</h4>
          <% @tasks_ongoing.each do |task| %>
            <%= render "components/task", task: task %>
          <% end %>
        </div>
        <div class="tasks-column">
          <h4>Done</h4>
          <% @tasks_done.each do |task| %>
            <%= render "components/task", task: task %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="column column-left">
     <div class="card">
      <h5>Weather</h5>
      <div class="weather-panel">
        <% @weather_week.each do |day|%>
          <div class="weather-card">
            <p><%= day[:weekday][0..2] %></p>
            <%= image_tag day[:icon], class: "mb-2", width: 25 %>
            <p><%= day[:temp].round %>ºC</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card">
      <h3>Global Prices</h3>
      <table>
        <tr>
          <td> </td>
          <td> Price (USd/Bu) </td>
          <td> </td>
          <td>Day</td>
        </tr>
        <tr>
          <td>Wheat</td>
          <td> <%= @wheat_price[0] %> </td>
          <td> 🔻 </td>
          <td> <%= @wheat_price[1] %> </td>
        </tr>
        <tr>
          <td>Corn</td>
          <td> <%= @corn_price[0] %> </td>
          <td> 🔻 </td>
          <td> <%= @corn_price[1] %> </td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h3>Prices placeholder</h3>
    </div>
  </div>
</div>
