<%# This page is where we can start bringing in the necessary data for the final view. %>
<div class="container">

  <div class="column column-right">
    <div class="card card-news">
      <h3>News Feed</h3>
        <% @articles.each do |article|  %>
        <div class="card-new">
          <div class='card-title'>
            <%= image_tag("Maintenance.png") %>
            <div class="card-info">
              <h6> <%= article.category %></h6>
              <p> <%= article.author %> </p>
            </div>
          </div>
          <p> <%= article.content %></p>
        </div>
        <% end %>
    </div>
    <div class="card card-tasks">
      <h3>Task Progress</h3>
      <div class="tasks-container">
        <div class="tasks-column">
          <h4>Next</h4>
          <% @tasks_planned.each do |task| %>
            <%= render "components/task", task: task %>
          <% end %>
        </div>
        <div class="tasks-column">
          <h4>In Progress</h4>
          <% @tasks_ongoing.each do |task| %>
            <%= render "components/task", task: task %>
          <% end %>
        </div>
        <div class="tasks-column">
          <h4>Done</h4>
          <% @tasks_done.each do |task| %>
            <%= render "components/task", task: task %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="column column-left">
     <div class="card d-flex align-items-start">
      <h3 style="font-size:16px;">Weather</h3>

      <div class="d-flex flex-row justify-content-center">
      <div class="d-flex flex-column">
        <div class="weather-week-panel" style="border-bottom:1px solid grey;margin-bottom:8px;">
          <% @weather_week.each do |day|%>
            <div class="weather-card">
              <p><%= day[:weekday][0..2] %></p>
              <%= image_tag day[:icon], class: "mb-2", width: 25 %>
              <p><%= day[:temp].round %>ºC</p>
            </div>
          <% end %>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div class="weather-panel">
            <%= image_tag "plant-fill.svg", class: 'align-self-start me-1' %>
            <div class="soil-card">
              <p><%= @soil_data["soiltemp01"].round %>ºC</p>
              <p>Soil Temp @ .01m</p>
            </div>
          </div>
          <div class="weather-panel">
            <%= image_tag "rain.svg", class: 'align-self-start me-1' %>
            <div class="precipitation-card">
              <p><%= @weather_week[0][:precip_prob].round %>%</p>
              <p>Chance of Rain</p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div class="weather-panel">
            <%= image_tag "drop-fill.svg", class: 'align-self-start me-1' %>
            <div class="soil-moisture-card">
              <p><%= @soil_data["soilmoisture01"] %></p>
              <p>Soil Moisture</p>
            </div>
          </div>
          <div class="weather-panel">
            <%= image_tag "sun-horizon-fill.svg", class: 'align-self-start me-1' %>
            <div class="evapotranspiration-card">
              <p><%= @soil_data["et0"] %></p>
              <p>Evapotranspiration</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column ms-4">
        <div class="weather-map"
            data-controller="map"
            data-map-marker-value="<%= current_user.farm.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            style="border-radius:16px;height:200px;width:100px;"></div>
      </div>
    </div>
    </div>
   

    <div class="card">
      <h3>Regional Crop Progress</h3>
      <%= area_chart @crop_data, library: { title: "Peach Crop Progress"}, colors: ["#367c2b", "#d1ecf5", "#ffde00"], width: "300px", height: "200px" %>
      <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
      
      <h3>Global Prices</h3>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="peaches-tab" data-bs-toggle="tab" data-bs-target="#peaches" type="button" role="tab" aria-controls="peaches" aria-selected="true">Peaches</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="catnip-tab" data-bs-toggle="tab" data-bs-target="#catnip" type="button" role="tab" aria-controls="catnip" aria-selected="false">Catnip</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="corn-tab" data-bs-toggle="tab" data-bs-target="#corn" type="button" role="tab" aria-controls="corn" aria-selected="false">Corn</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="peaches" role="tabpanel" aria-labelledby="peaches-tab">
          <%= line_chart @peach_market_data, xtitle: "Month", ytitle: "Producer Price Index", library: { title: "Market Price for Peaches By Year"}, colors: ["#2C363B", "#0D6EFD","#367c2b" ], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
        <div class="tab-pane fade" id="catnip" role="tabpanel" aria-labelledby="catnip-tab">
           <%= area_chart @catnip_market_data, xtitle: "Month", ytitle: "Producer Price Index", library: { title: "Market Price for Catnip By Year"}, colors: ["#2C363B", "#0D6EFD","#367c2b"], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
        <div class="tab-pane fade" id="corn" role="tabpanel" aria-labelledby="corn-tab">
          <%= area_chart @catnip_market_data, xtitle: "Month", ytitle: "Producer Price Index", library: { title: "Market Price for Corn By Year"}, colors: ["#2C363B", "#0D6EFD","#367c2b"], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
      </div>
    </div>
    <div class="card">
      <h3>Regional Crop Progress</h3>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="peaches-tab" data-bs-toggle="tab" data-bs-target="#peaches" type="button" role="tab" aria-controls="peaches" aria-selected="true">Peaches</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="catnip-tab" data-bs-toggle="tab" data-bs-target="#catnip" type="button" role="tab" aria-controls="catnip" aria-selected="false">Catnip</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="corn-tab" data-bs-toggle="tab" data-bs-target="#corn" type="button" role="tab" aria-controls="corn" aria-selected="false">Corn</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="peaches" role="tabpanel" aria-labelledby="peaches-tab">
          <%= area_chart @peach_crop_data, xtitle: "Date", ytitle: "Harvest %", library: { title: "Peach Crop Progress"}, colors: ["#367c2b", "#d1ecf5", "#ffde00"], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
        <div class="tab-pane fade" id="catnip" role="tabpanel" aria-labelledby="catnip-tab">
           <%= area_chart @catnip_crop_data, xtitle: "Date", ytitle: "Harvest %", library: { title: "Catnip Crop Progress"}, colors: ["#367c2b", "#d1ecf5", "#ffde00"], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
        <div class="tab-pane fade" id="corn" role="tabpanel" aria-labelledby="corn-tab">
          <%= area_chart @corn_crop_data, xtitle: "Date", ytitle: "Harvest %", library: { title: "Corn Crop Progress"}, colors: ["#367c2b", "#d1ecf5", "#ffde00"], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
      </div>
      
    </div>
  </div>

</div>
