<%# This page is where we can start bringing in the necessary data for the final view. %>
<div class="container">

  <div class="column column-right">
    <div class="card card-news">
      <h3>News Feed</h3>
        <% @articles.each do |article|  %>
        <div class="card-new">
          <%= image_tag("Maintenance.png") %>
          <h2> <%= article.category %></h2>
          <p> <%= article.author %> </p>
          <p> <%= article.content %></p>
          <p> <%= article.date.strftime('%F') %></p>
        </div>
        <% end %>
    </div>
    <div class="card card-tasks">
      <h3>Task Progress</h3>
      <div class="tasks-container">
        <div class="tasks-column">
          <h4>Next</h4>
          <% @tasks_planned.each do |task| %>
            <%= render "components/task", task: task %>
          <% end %>
        </div>
        <div class="tasks-column">
          <h4>In Progress</h4>
          <% @tasks_ongoing.each do |task| %>
            <%= render "components/task", task: task %>
          <% end %>
        </div>
        <div class="tasks-column">
          <h4>Done</h4>
          <% @tasks_done.each do |task| %>
            <%= render "components/task", task: task %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="column column-left">
     <div class="card d-flex align-items-start">
      <h5 style="font-size:16px;">Weather</h5>
      <div class="d-flex flex-row justify-content-center">
      <div class="d-flex flex-column">
        <div class="weather-week-panel" style="border-bottom:1px solid grey;margin-bottom:8px;">
          <% @weather_week.each do |day|%>
            <div class="weather-card">
              <p><%= day[:weekday][0..2] %></p>
              <%= image_tag day[:icon], class: "mb-2", width: 25 %>
              <p><%= day[:temp].round %>ºC</p>
            </div>
          <% end %>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div class="weather-panel">
            <%= image_tag "plant-fill.svg", class: 'align-self-start me-1' %>
            <div class="soil-card">
              <p><%= @soil_data["soiltemp01"].round %>ºC</p>
              <p>Soil Temp @ .01m</p>
            </div>
          </div>
          <div class="weather-panel">
            <%= image_tag "rain.svg", class: 'align-self-start me-1' %>
            <div class="precipitation-card">
              <p><%= @weather_week[0][:precip_prob].round %>%</p>
              <p>Chance of Rain</p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div class="weather-panel">
            <%= image_tag "drop-fill.svg", class: 'align-self-start me-1' %>
            <div class="soil-moisture-card">
              <p><%= @soil_data["soilmoisture01"] %></p>
              <p>Soil Moisture</p>
            </div>
          </div>
          <div class="weather-panel">
            <%= image_tag "sun-horizon-fill.svg", class: 'align-self-start me-1' %>
            <div class="evapotranspiration-card">
              <p><%= @soil_data["et0"] %></p>
              <p>Evapotranspiration</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column ms-4">
        <div class="weather-map"
            data-controller="map"
            data-map-marker-value="<%= current_user.farm.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            style="border-radius:16px;height:200px;width:100px;"></div>
      </div>
    </div>
    </div>
    <div class="card">
      <h5>Global Prices</h5>
      <table>
        <tr>
          <td> </td>
          <td> Price (USd/Bu) </td>
          <td> </td>
          <td>Today</td>
        </tr>
        <tr>
          <td>Wheat</td>
          <td> <%= @wheat_price[0] %> </td>
          <td> 🔻 </td>
          <td> <%= @wheat_price[1] %> </td>
        </tr>
        <tr>
          <td>Corn</td>
          <td> <%= @corn_price[0] %> </td>
          <td> 🔻 </td>
          <td> <%= @corn_price[1] %> </td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h5>Regional Crop Progress</h5>
      <%= area_chart @crop_data, library: { title: "Peach Crop Progress"}, colors: ["#367c2b", "#d1ecf5", "#ffde00"], width: "300px", height: "200px" %>
      <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
    </div>
  </div>

</div>
