<%# This page is where we can start bringing in the necessary data for the final view. %>
<div class="container">
  <div class="column column-left">
    <div class="card">
      <h3>Weather Data</h3>
      <p>Temperature in Kelvin: <%= @weather["main"]["temp"] %></p>
    </div>
    <div class="card">
      <h3>Global Prices</h3>
      <table>
        <tr>
          <td> </td>
          <td> Price (USd/Bu) </td>
          <td> </td>
          <td>Day</td>
        </tr>
        <tr>
          <td>Wheat</td>
          <td> <%= @wheat_price[0] %> </td>
          <td> 🔻 </td>
          <td> <%= @wheat_price[1] %> </td>
        </tr>
        <tr>
          <td>Corn</td>
          <td> <%= @corn_price[0] %> </td>
          <td> 🔻 </td>
          <td> <%= @corn_price[1] %> </td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h3>Prices placeholder</h3>
    </div>
  </div>
  <div class="column column-right">
    <div class="card">
      <h3>News Feed</h3>
    </div>
    <div class="card">
      <h3>Tasks Tracker</h3>
    </div>
  </div>
</div>
