<%# This page is where we can start bringing in the necessary data for the final view. %>
<div class="container">
  <div class="collapse" id="collapseExample">
    <div>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
  <div class="column column-right">
    <div class="card card-news">
      <h3>News</h3>
        <div class="news-container">
          <% @articles.each_with_index do |article, index|  %>
            <div class="card-new">
              <div class='card-title'>
                <%= image_tag("Maintenance.png") %>
                <div class="card-info">
                  <h6> <%= article.category %></h6>
                  <p> <%= article.author %> </p>
                </div>
              </div>
              <% if article.content.length > 300 %>
                <% article_id = "article#{index}" %>
                <p class="article-truncated" id="<%= article_id %>">
                  <%= article.content %>
                </p>
                <button class="custom-collapse-btn" data-toggle="custom-collapse" data-target="#<%= article_id %>" aria-expanded="false" aria-controls="#<%= article_id %>">Read More</button>
              <% else %>
                <p> <%= article.content %></p>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
    <div class="card card-tasks">
      <h3>Task Progress</h3>
      <%= render "components/tasks" %>
    </div>
  </div>

  <div class="column column-left">
     <div class="card d-flex align-items-start">
      <h3 style="font-size:16px;">Weather</h3>

      <div class="d-flex flex-row justify-content-center">
      <div class="d-flex flex-column">
        <div class="weather-week-panel" style="border-bottom:1px solid #EFEADD;margin-bottom:8px;">
          <% @weather_week.each do |day|%>
            <div class="weather-card">
              <p><%= day[:weekday][0..2] %></p>
              <%= image_tag "#{day[:icon]}.svg", class: "mb-2", width: 25 %>
              <p><%= day[:temp].round %>ºC</p>
            </div>
          <% end %>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div class="weather-panel">
            <%= image_tag "plant-fill.svg", class: 'align-self-start me-1' %>
            <div class="soil-card">
              <p><%= @soil_data["soiltemp01"].round %>ºC</p>
              <p>Soil Temp @ .01m</p>
            </div>
          </div>
          <div class="weather-panel">
            <%= image_tag "rain.svg", class: 'align-self-start me-1' %>
            <div class="precipitation-card">
              <p><%= @weather_week[0][:precip_prob].round %>%</p>
              <p>Chance of Rain</p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div class="weather-panel">
            <%= image_tag "drop-fill.svg", class: 'align-self-start me-1' %>
            <div class="soil-moisture-card">
              <p><%= @soil_data["soilmoisture01"] %></p>
              <p>Soil Moisture</p>
            </div>
          </div>
          <div class="weather-panel">
            <%= image_tag "sun-horizon-fill.svg", class: 'align-self-start me-1' %>
            <div class="evapotranspiration-card">
              <p><%= @soil_data["et0"] %></p>
              <p>Evapotranspiration</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column ms-4">
        <div class="weather-map"
            data-controller="map"
            data-map-marker-value="<%= current_user.farm.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            style="border-radius:16px;height:100%;width:170px;"></div>
      </div>
    </div>
    </div>


    <div class="card">
      <h3>Crop Market Price</h3>
      <ul class="nav nav-tabs" id="marketPriceTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="peaches-tab" data-bs-toggle="tab" data-bs-target="#peachesmk" type="button" role="tab" aria-controls="peaches" aria-selected="true">Peaches</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="catnip-tab" data-bs-toggle="tab" data-bs-target="#catnipmk" type="button" role="tab" aria-controls="catnip" aria-selected="false">Catnip</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="corn-tab" data-bs-toggle="tab" data-bs-target="#cornmk" type="button" role="tab" aria-controls="corn" aria-selected="false">Corn</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="peachesmk" role="tabpanel" aria-labelledby="peaches-tab">
          <%= line_chart @peach_market_data, xtitle: "Month", ytitle: "Producer Price Index", library: { title: "Market Price for Peaches By Year"}, colors: ["#F9DA5B", "#007DD6","#4C7835" ], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
        <div class="tab-pane fade" id="catnipmk" role="tabpanel" aria-labelledby="catnip-tab">
           <%= line_chart @catnip_market_data, xtitle: "Month", ytitle: "Producer Price Index", library: { title: "Market Price for Catnip By Year"}, colors: ["#F9DA5B", "#007DD6","#4C7835"], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
        <div class="tab-pane fade" id="cornmk" role="tabpanel" aria-labelledby="corn-tab">
          <%= line_chart @catnip_market_data, xtitle: "Month", ytitle: "Producer Price Index", library: { title: "Market Price for Corn By Year"}, colors: ["#F9DA5B", "#007DD6","#4C7835"], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
      </div>
    </div>
    <div class="card">
      <h3>Regional Crop Progress</h3>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="peaches-tab" data-bs-toggle="tab" data-bs-target="#peaches" type="button" role="tab" aria-controls="peaches" aria-selected="true">Peaches</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="catnip-tab" data-bs-toggle="tab" data-bs-target="#catnip" type="button" role="tab" aria-controls="catnip" aria-selected="false">Catnip</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="corn-tab" data-bs-toggle="tab" data-bs-target="#corn" type="button" role="tab" aria-controls="corn" aria-selected="false">Corn</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="peaches" role="tabpanel" aria-labelledby="peaches-tab">
          <%= area_chart @peach_crop_data, xtitle: "Date", ytitle: "Harvest %", library: { title: "Peach Crop Progress"}, colors: ["#367c2b", "#d1ecf5", "#ffde00"], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
        <div class="tab-pane fade" id="catnip" role="tabpanel" aria-labelledby="catnip-tab">
           <%= area_chart @catnip_crop_data, xtitle: "Date", ytitle: "Harvest %", library: { title: "Catnip Crop Progress"}, colors: ["#367c2b", "#d1ecf5", "#ffde00"], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
        <div class="tab-pane fade" id="corn" role="tabpanel" aria-labelledby="corn-tab">
          <%= area_chart @corn_crop_data, xtitle: "Date", ytitle: "Harvest %", library: { title: "Corn Crop Progress"}, colors: ["#367c2b", "#d1ecf5", "#ffde00"], width: "450px", height: "200px" %>
          <p><span id="chart-source">*Sourced from the <a href="https://www.nass.usda.gov/Statistics_by_State/">USDA National Agricultural Statistics Service</a></span></p>
        </div>
      </div>
      
    </div>
  </div>

</div>
